#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        cl_bt {
            bindings = <&mo 4>;
            key-positions = <32 37>;
        };

        ck_shift {
            bindings = <&kp LSHIFT>;
            key-positions = <30 31>;
        };
    };

    macros {
        clipy_b: clipy_b {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCMD &kp LSHIFT>,
                <&macro_tap>,
                <&kp B>,
                <&macro_release>,
                <&kp LCMD &kp LSHIFT>;

            label = "CLIPY_B";
        };

        clipy_v: clipy_v {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCMD &kp LSHFT>,
                <&macro_tap>,
                <&kp V>,
                <&macro_release>,
                <&kp LCMD &kp LSHIFT>;

            label = "CLIPY_V";
        };

        screen_shot: screen_shot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LCMD &kp LSHFT>,
                <&macro_tap>,
                <&kp N4>,
                <&macro_release>,
                <&kp LCMD &kp LSHIFT>;

            label = "SCREEN_SHOT";
        };

        input_id: input_id {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(J) &kp LS(R) &kp LS(Z) &kp N1 &kp N1 &kp N5 &kp N2>;
            label = "INPUT_ID";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp W         &kp E        &kp R      &kp T           &kp Y      &kp U          &kp I       &kp O         &kp P
&kp A      &kp S         &kp D        &kp F      &kp G           &kp H      &kp J          &kp K       &kp L         &kp MINUS
&kp Z      &kp X         &kp C        &kp V      &kp B           &kp N      &kp M          &kp COMMA   &kp DOT       &kp SLASH
&kp LCTRL  &kp LEFT_ALT  &lt 1 LANG2  &kp SPACE  &mt LCMD LANG1  &kp ENTER  &kp BACKSPACE  &kp RSHIFT  &lt 3 ESCAPE  &kp TAB
            >;
        };

        layer1 {
            bindings = <
&trans  &kp CARET      &kp GRAVE      &kp SINGLE_QUOTE  &kp DOUBLE_QUOTES  &kp PLUS      &kp MINUS  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT_SIGN
&mo 2   &kp BACKSLASH  &kp AMPERSAND  &kp HASH          &kp EXCLAMATION    &kp ASTERISK  &kp SLASH  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp COLON
&trans  &kp TILDE      &kp PIPE       &kp PERCENT       &kp DOLLAR         &kp EQUAL     &trans     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp SEMICOLON
&trans  &trans         &trans         &trans            &trans             &trans        &trans     &trans                &kp QUESTION           &kp UNDERSCORE
            >;

            label = "SYMBOL";
        };

        layer2 {
            label = "NUMBER";
            bindings = <
&trans  &kp N7  &kp N8  &kp N9  &trans  &kp HOME  &kp PAGE_UP  &kp UP    &kp PAGE_DOWN  &trans
&trans  &kp N4  &kp N5  &kp N6  &trans  &kp END   &kp LEFT     &kp DOWN  &kp RIGHT      &kp DELETE
&trans  &kp N1  &kp N2  &kp N3  &kp N0  &trans    &trans       &trans    &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans       &trans    &trans         &trans
            >;
        };

        layer3 {
            label = "FUNCTION";
            bindings = <
&kp F4   &kp F3   &kp F2   &kp F1  &trans  &screen_shot  &input_id  &trans    &trans  &trans
&kp F8   &kp F7   &kp F6   &kp F5  &trans  &trans        &clipy_v   &clipy_b  &trans  &trans
&kp F12  &kp F11  &kp F10  &kp F9  &trans  &trans        &trans     &trans    &trans  &trans
&trans   &trans   &trans   &trans  &trans  &trans        &trans     &trans    &trans  &trans
            >;
        };

        layer4 {
            label = "BLUETOOTH";
            bindings = <
&trans  &trans  &trans  &bt BT_CLR_ALL  &bt BT_CLR  &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
&trans  &trans  &trans  &trans          &trans      &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4
&trans  &trans  &trans  &trans          &trans      &trans         &trans         &trans         &trans         &trans
&trans  &trans  &trans  &trans          &trans      &trans         &trans         &trans         &trans         &trans
            >;
        };

        layer5 {
            label = "MOUSE";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &mkp MB4  &mkp MB1          &msc MOVE_Y(20)   &mkp MB2         &trans
&trans  &trans  &trans  &trans  &trans  &mkp MB5  &msc MOVE_X(-20)  &msc MOVE_Y(-20)  &msc MOVE_X(20)  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans            &trans            &trans           &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans            &trans            &trans           &trans
            >;
        };
    };
};
